.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-two {

  background-image: url('/../../assets/images/background-stars.png');
    min-height: 700px;
    background-position: bottom;
    background-size: cover;
    display: flex;

}

.quote {
  font-family: 'Sacramento', cursive !important;
  font-size: 50px !important;
  margin: 100px 0 !important;
}
.c-section.-aboutTwo {
  display: flex;
  align-items: center;
  margin: 0 auto;

   p {
    letter-spacing: 1.14px;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 0;
   }
}
.c-about {
   background-color: $LighterGray;
    position: relative;
    @include mg-btm();
    .o-wrapper {

      @media (max-width: 960px){
        padding-right: 0px;
        padding-left: 0px;
      }
      @media (min-width: 1024px){
        padding-right: 24px;
        padding-left: 24px;
      }

    }



    .c-about_content {
          @media (max-width: 960px){
            float: none;
          }
         @media (min-width: 320px){
          padding: 20px;
        }
         @media (min-width: 480px){
          padding: 30px;
        }
        @media (min-width: 600px){  
          padding: 45px;
        }
        @media (min-width: 720px){
          padding: 55px;
        }
        @media (min-width: 840px){
          padding: 65px;
           width: 100%;
        }
        @media (min-width: 960px){
          padding: 75px;
          width: 79%;

        }
        @media (min-width: 1024px){
          padding: 90px;
          width: 100%;
        }

        margin: 0 auto;
        padding-bottom: 50px;
        z-index: 10;
        //background: $LightGray;
        color: white;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 1.14px;

      
        
        // ::after {
        //     position: absolute;
        //     content: "";
        //     height: 100%;
        //     width: 100vh;
        //     background-color: $DarkGray;
        //     top: 0;
        //     left: 100%;
        // }


    }

    .c-about_image {
          float: left;
          margin-right: 49px;

      

      // @media (max-width: 960px){
       
      // }

    }

     .c-about_content-right p {
        overflow: hidden;
        display: block;
        max-width: 634px;
        min-width: 330px;
        color: black;

         @media (max-width: 400px){
          margin-right: 49px;
          min-width: auto;
        }
     }

    .c-about_content_title, .c-about_content_text p {
        overflow: hidden;
        display: block;
        max-width: 634px;
        min-width: 330px;
    }
     .c-about_content_text {
        color: black;
     }

     .c-about_content-right {
      display: inline-block;
        margin-top: 29px;
     }



}


.c-btnPrimary {
  color: $White;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 17px;
  text-decoration: none;
  position: relative;
  background-color: $Green !important;
  display: block;
  padding: 15px;
  border: none;
  overflow: hidden;

  margin-top: 40px;
}

.c-about_content_link_btn {
  text-decoration: none;
}




.color-stripe {
  height: 10px;
  max-width: 921px;
  margin: 0 auto;
  text-align: center;
  width: auto;
  background-image: repeating-linear-gradient(to right, #679256 0vw, #2C4280 10vw, #6298AA 15vw);
}