
.c-accordion {
    list-style-type: none;
    margin-left: 0;

    li {
        cursor: pointer; 

        h3 {
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 28px;
            color: $White;
            font-weight: normal;

             @media (max-width: 500px){
                 width: 81%;
            }

               
        }
        p {
            color: $White;
            letter-spacing: 1px;
            line-height: 30px;
        }

    }
    li:last-child p {
        margin-bottom: 0;
    }
}

.c-accordion_hide {
    display: none;
}

.c-accordion_clickable {
    position: relative;
}

/* accordion row arrow */
.c-accordion_arrow {
    position: relative;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 24px;
    top: calc(5% - 1px);
    transition: transform 0.15s linear;
}
/* accordion row arrow animation */
.c-accordion_arrow_active {
    .c-accordion_arrow {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);

    }
}