/* -- Section form -- */
.c-section{
  text-align: center;


  &.-cv {
   @include padd-btm-w-title();
    //padding-bottom: 64px;

    p {
        letter-spacing: 1.14px;
        line-height: 30px;
        font-size: 16px;
       
    }
  }


}


/* --Career page; application form-- */
form {
    input[type="text"],input[type="email"],input[type="tel"],textarea,.c-file-upload, select {
        width: 100%;
        border: 1px solid #2A2A2A;
        padding: 10px;
        margin-bottom: 16px;
        font-family: $ftOpenSans;
         resize: none;
    }
    input[type="text"],input[type="email"],input[type="tel"],.c-file-upload, select {
        height: 56px
    }
    input[type="submit"] {
        &:hover {
            //background-color: $bgThree;
            -webkit-box-shadow: 0px 8px 22px 3px rgba(140,140,140,1);
            -moz-box-shadow: 0px 8px 22px 3px rgba(140,140,140,1);
            box-shadow: 0px 8px 22px 3px rgba(140,140,140,1);
        }
        height: 50px;
        width: 128px;
        background-color: $Green;
        float: right;
        color: white;
        font-size: 16px;
        cursor: pointer;

    }
    button, input {
        font-family: $ftOpenSans;
        font-size: 20px;
        line-height: 1.15;
        margin: 0;
    }
    select {
        font-style: italic;
    }


.c-file-upload {
        font-style: italic;
        background-color: white;

        .c-file-select {
            display: block;
            cursor: pointer;
            text-align: left;
            overflow: hidden;
            position: relative;

            &.c-file-select-disabled {
                opacity: 0.65;  

                &:hover {
                    cursor: default;
                    display: block;
                    border: 2px solid #dce4ec;
                    color: #34495e;
                    cursor: pointer;
                    height: 40px;
                    line-height: 40px;
                    margin-top: 5px;
                    text-align: left;
                    background: #ffffff;
                    overflow: hidden;
                    position: relative;
                }
            }

            input[type="file"] {
                z-index: 100;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }


            .c-file-select-name {
                line-height: 34px;
                display: inline-block;
            }

            .c-file-select-button {
                display: inline-block;
                line-height: 60px;
                float: right;
                //height: 22px;
                top: 0;
                margin-top: -9px;
                padding-right: 16px;
            }
        }
    }
}
label.error {
    margin-top: -13px;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #dc3545;
}

/* --Form: Green alert bar on submit-- */
.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    width: 716px;
    margin: auto;
    display: none; 
}
// Alert bar X button
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}