.c-section-contact{
@include mg-btm();
 @media (max-width: 720px){
        margin-top: 0;
    }   
  &.-content {
     @media (max-width: 720px){
         padding-top: 80px !important;
    }
    @media (min-width: 420px){
         @include section-padding;
    }

    background: $LightBlue;
  }

  a, p {
    color: white;

     @media (max-width: 420px){
        word-break: break-word;
     }
    

    @media (max-width: 420px){
        font-size: 14px;
    }           
    @media (min-width: 1280px){
        font-size: 16px;
    }       
  }

 }


 /* Biography section */
.c-section.-content.-bio {
    text-align: center;
    background: $DarkGray;
    @include section-padding;
    padding-left: 0 !important;
    padding-right: 0 !important;



}


/* -- ContactUs page; Contact informations box: adress, phone, fax, email, business hours -- */
.c-contact {
    display: flex;

    &.o-layout__item {
        padding-left: 0 !important;
    }

    ul {
            padding-right: 64px;
            padding-left: 128px;
            padding-top: 200px;
            padding-bottom: 80px;
            position: relative;
            background: $DarkBlue;
            display: flex;
            flex-direction: column;
            //margin: auto 0 auto -144px !important;
            width: calc(100% + 130px);
            margin: 0 auto;

         li {
          
                 padding-bottom: 24px;

            p {
                line-height: 28px !important;
                margin-bottom: 0 !important;
                         
                }
         }
    }
}
.c-contact-information {
    @media (max-width: 420px){
        li {
            padding-left: 15px !important;
        }
    }
    li {
        position: relative;
        padding-left: 40px;
         /* --contact icons-- */
        &:before {
            position: absolute;
            content: "";
            width: 27px;
            height: 32px;
            background: $icons_sprite;
            top: 5px;
            @media (min-width: 320px){
                left: 0;
            }
            @media (max-width: 420px){
                left: -20px;
            }        
            @media (min-width: 1280px){
                left: -16px;
            }            
         
            
        }
        
        &.c-contact-information_adress {
             &:before {
                background-position: -65px;
             }
        }
        &.c-contact-information_phone {
             &:before {
                background-position: -23px;
             }
        }
         &.c-contact-information_email {
             &:before {
                background-position: -103px -5px;
             }
        }

    }
}
 /* --ContactUs page; contact informations style-- */
.o-wrapper.-contactInfo {

    //@include mg-btm();
    display: none;
    @media (max-width: 1280px){
        display: block;
    }
    @media (max-width: 420px){
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        ul li {
            padding-bottom: 10px !important;
        }
    }

    ul {
        background-color: $DarkBlue;
            @media (min-width: 1280px){
            max-width: 380px;
        }
        margin-top: 40px;
        padding: 40px;
        @media (max-width: 420px){
            padding-right: 0;
        }

        li {
            p {
                line-height: 28px !important;
                margin-bottom: 0 !important;
            }
                padding-bottom: 24px;
        }
    }
}

    
.o-wrapper.-map {
    @media (max-width: 420px){
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
     }
}

/* --ContactUs page; contact informations for highRes-- */
#desktop-contactInfo {
            @media (max-width: 1279px){
        display: none;
    }
 }

/* --ContactUs page; google map style-- */
#google-map {
    @media (min-width: 320px){
    height: 350px !important; 
    width: 100% !important;
    } 
    @media (min-width: 400px){
    height: 400px !important;
  
    }
    @media (min-width: 480px){
    height: 500px !important;
  
    }
    @media (min-width: 600px){
    height: 600px !important;

    }
    @media (min-width: 720px){
    height: 600px !important;
  
    }
    @media (min-width: 1078px){
    height: 660px !important;
   }
} 


body {
    overflow-x: hidden;
 }
