html * {
    font-family: $ftOpenSans !important;
}
.current {
  // background-color: red;
  a {

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -9px;
        left: 0;
        background-color: $White;
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }


   }
}
h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px); }

.c-main-menu {

  > .o-wrapper {
      display: none;
    @media (min-width: 960px){
       display: block;
   }
  }

  -webkit-box-shadow: 0px 20px 20px -12px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 20px 20px -12px rgba(0, 0, 0, 0.5);
  background-color: rgba(104, 162, 185, 0.8);

   position: fixed;
   width: 100%;
   z-index: 9999;
       .c-main-menu-wrap {
        display: flex;
        .c-header-logo {
          svg {
            transform: translateY(16px);
            width: 80%;

            &:hover {
                filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(0%) hue-rotate(298deg) brightness(101%) contrast(102%);
            }
          }
            margin-right: auto;
            //padding: 32px 0;
             a {
              position: relative;
              text-decoration: none;
              color: $White;
              text-transform: uppercase;
              letter-spacing: 0.67px;
              line-height: 100px;
              font-size: 24px;

                @media (min-width: 960px) and (max-width: 1100px) {
                    font-size: 16px;
    
                }
               }
        }
        .c-header-logo,
        .c-main-menu_navigation {
            flex: 0 auto;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: auto;
            .c-main-menu_ul {

                margin-bottom: 0;
                li {


                    margin-right: 88px;
                    display: inline-block;
                     a {

                    
                        position: relative;
                        text-decoration: none;
                        color: $White;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        line-height: 28px;
                        font-size: 14px;
                        
                        /* Links underline animation on Hover */
                        &:before {
                          content: "";
                          position: absolute;
                          width: 100%;
                          height: 1px;
                          bottom: -9px;
                          left: 0;
                          background-color: $White;
                          visibility: hidden;
                          -webkit-transform: scaleX(0);
                          transform: scaleX(0);
                          -webkit-transition: all 0.3s ease-in-out 0s;
                          transition: all 0.3s ease-in-out 0s;
                        }

                        &:hover:before {
                          visibility: visible;
                          -webkit-transform: scaleX(1);
                          transform: scaleX(1);
                        }

                    }
                    &:last-child {
                     margin-right: 0px;
                 }
             }
         }

     }

    }
}


    .c-banner{



    @media (min-width: 320px){
    height: 350px;
    } 
    @media (min-width: 400px){
    height: 350px;
    }
    @media (min-width: 480px){
    height: 350px;
    }
    @media (min-width: 600px){
    height: 375px;
    }
    @media (min-width: 720px){
    height: 400px;
    }
    @media (min-width: 840px){
    height: 600px;
    }
    @media (min-width: 960px){
    height: 679px;
    }
    @media (min-width: 1024px){
    height: 723px;
    }
    @media (min-width: 1280px){
    height: 768px;
    }


    top: 64px;
    position: relative;
    background-size: cover;
    background-position: center;
    }
.c-banner-images, .c-banner-images_item  {

    @media (min-width: 320px){
    height: 350px !important;
    } 
    @media (min-width: 400px){
    height: 350px !important;
    }
    @media (min-width: 480px){
    height: 350px !important;
    }
    @media (min-width: 600px){
    height: 375px !important;
    }
    @media (min-width: 720px){
    height: 400px !important;
    }
    @media (min-width: 840px){
    height: 600px !important;
    }
    @media (min-width: 960px){
    height: 679px !important;
    }
    @media (min-width: 1024px){
    height: 723px !important;
    }
    @media (min-width: 1280px){
    height: 768px !important;
    }
    position: relative;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    width: 100%;
    margin-left: 0;


}

.c-banner-logo {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(50% + 50px);
  
    @media (min-width: 1024px){
      width: auto;
    }
}

.c-banner-title, .c-banner-subtitle {
   text-shadow: 4px 2px 8px black;
   position: absolute;
   z-index: 99999;
   text-transform: uppercase;
   font-weight: bold;
   color: $White;
   padding-left: 24px;


}
.c-banner-title {
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    top: 50%;
    font-size: 72px;
    letter-spacing: 5px;
    line-height: 100px;
    

    @media (max-width: 328px){
      top: 46%;
    }
    @media (min-width: 320px){
      font-size: 22px;
      line-height: 26px;
    }
    @media (min-width: 480px){
      font-size: 24px;
    }
    @media (min-width: 600px){  
      font-size: 28px;
    }
    @media (min-width: 720px){
      font-size: 34px;
    }
    @media (min-width: 840px){
      font-size: 40px;
    }
    @media (min-width: 960px){
      font-size: 50px;
    }
    @media (min-width: 1024px){
      font-size: 60px;
    }
    @media (min-width: 1280px){
      font-size: 72px;
    }
}
.c-banner-subtitle {
    -webkit-transform: translate(0%, -60%);
    -ms-transform: translate(0%, -60%);
    transform: translate(0%, -60%);
    top: 60%;
    font-size: 30px;
    letter-spacing: 0.92px;
    line-height: 40px;


    @media (min-width: 320px){
      font-size: 12px;
    }
    @media (min-width: 480px){
      font-size: 14px;
    }
    @media (min-width: 600px){  
      font-size: 15px;
    }
    @media (min-width: 720px){
      font-size: 18px;
    }
    @media (min-width: 840px){
      font-size: 21px;
    }
    @media (min-width: 960px){
      font-size: 24px;
    }
    @media (min-width: 1024px){
      font-size: 27px;
    }
    @media (min-width: 1280px){
      font-size: 30px;
    }


}


.c-second-menu {
    // @media (min-width: 960px){
    //    display: block;
    // }

    background-color: rgba(104, 162, 185, 0.8);

    // Fixed menu
    z-index: 999999999999999999;
    width: 100%;
    transition: top 0.2s ease-in-out;


  }
/* --Mobile navigation menu-- */

.nav-up {
    top: -65px;
}


.c-mobile-nav {

    padding: 8px;
    overflow: hidden;
    position: relative;
    display: none;
    @media (max-width: 960px){
      display: block;
       //transition: top 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
         transition: visibility 0s, opacity 0.5s linear;
      padding: 20px 0;
    }

  img {
      width: 138px;
  }

   .icon {
    display: none;
      @media (max-width: 960px){
        display: block;
      }
   }

   /* Style the active link (or home/logo) */
  .active {
    //background-color: $bgZero;
    //color: white;
    display: inline !important;
   

     &.phone {
              @media (max-width: 500px){
             display: none !important;
             }
            padding-right: 62px;
            position: absolute;
            right: 0;
            top: 11px;
            font-size: 12px;
            letter-spacing: 1.71px;
           @media (max-width: 960px){
               top: 25px;
              padding-right: 128px;
            }


         // &:before {
         //    position: absolute;
         //    content: "";
         //    width: 15px;
         //    height: 32px;
         //    background: $icons_sprite;
         //    left: 174px;
         //    top: -7px;
         //    background-position: 0px 0px;
         // }
     }
    &.facebook {
            @media (max-width: 500px){
                display: none !important;
            }
            z-index: 10;
            padding-right: 10px;
            position: absolute;
            right: 0;
            top: 11px;
            font-size: 12px;
            letter-spacing: 1.71px;
           @media (max-width: 960px){
              top: 22px;
              padding-right: 88px;
            }


         &:before {
            position: absolute;
            content: "";
            width: 15px;
            height: 32px;
            background: $icons_sprite;
            top: -7px;
            background-position: 0px 0px;
         }
     }


     &.logo {
      visibility: hidden; 
          @media (max-width: 960px){
            visibility: visible;
            cursor: pointer;
          }
     }
  }

}


/* Hide the links inside the navigation menu (except for logo/home) */
.c-mobile-nav #myLinks {
  display: none;
}

/* Style navigation menu links */
.c-mobile-nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  color: $White;
  display: block;
  //text-transform: uppercase;



  // &:hover {
  //   background-color: white;
  //   color: black;
  // }

}

/* Style the hamburger menu */
.c-mobile-nav button.icon {
  //background: #F5F8FF;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 5px;
  font-size: 34px;
  color: white;
  outline: none;

}

/* Add a grey background color on mouse-over */
.c-mobile-nav a:hover {
  //background-color: #ddd;
}


#myLinks {
    padding-left: 15px;
    padding-top: 30px;
     a {  
      padding-bottom: 20px;
      color: white;
      }
 }


/* Headroom */
 .headroom--pinned {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;

}
.headroom--unpinned {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;

}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

