
/* -- Section form -- */
.c-section-s {
  text-align: center;

  &.-services {

    margin-top: 84px;
    @media (max-width: 960px){
        @include mg-btm-w-title();
        
    }

    // Intro Block text
    p {
        letter-spacing: 1.14px;
        line-height: 30px;
        font-size: 16px;
        max-width: 528px;
        margin: 0 auto;


    }
    
}


}



.paginator{

 @media (min-width: 1440px){
    position: absolute;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    top: 60%;
    bottom: 0;
    right: 10%;

  }


    ul{
        display: grid;
    }

    li{
        margin-top: 20px;
        margin-right: 20px;
        position: relative;
        float: left;
        width: 24px;
        height: 46px;

        &.prev{
          display: block;
          background: url('../images/fleche-gauche.svg') no-repeat;
          cursor: pointer;
      }

      &.next{
          display: block;
          background: url('../images/fleche-droite.svg') no-repeat;
          cursor: pointer;
      }
  }
}

// Mobile arrows
.paginator{
    @media (max-width: 1440px){
        position: relative;

        ul{
            display: inline-block;
            margin-left: 0 !important;
            margin-bottom: 0 !important;
        }

        li{
            margin-top: 20px;
            margin-right: 20px;
            position: relative;
            float: left;
            width: 16px;
            height: 19px;
            margin: 0 60px;

        &.prev{
              display: block;
              background: url('../images/fleche-gauche.svg') no-repeat;
              background-size: 50%;
              cursor: pointer;
          }

          &.next{
              display: block;
              background: url('../images/fleche-droite.svg') no-repeat;
              background-size: 50%;
              cursor: pointer;
          }
      }
    }
}
.c-services {


    .o-wrapper {
        max-width: 1442px !important;
        .c-services_navigation {
            margin: 0;
            border-radius: 15px;
            position: relative;
            align-items: left;
            width: auto;
            padding-top: 80px;
            //margin-left: -24px;
            text-align: center;


            .c-services_ul {
                justify-content: center;                        
                margin-bottom: 0;
                list-style-type: none;
                text-align: center;
                max-width: 940px;
                margin: 0 auto;
                .c-services_li {
                    cursor: pointer;
                    position: relative;
                    padding-bottom: 24px;
                    @media (max-width: 420px){
                        padding-left: 0;
                    }
                                    
                    // height: 530px;
                    // max-width: 940px;
                    &:last-child {
                        margin-right: 0;
                    }

             
                    .o-ratio {
                        background-size: cover;
                    }
                    .c-card {
                        .c-card-button {
                            position: absolute;
                            bottom: 25px;
                            left: 50%;
                        }

                        &.-panel {
                            .c-card-button {
                               display: none;
                            }
                            
                            .c-card-content {

                                height: auto;
                                top: 0;
                                opacity: 1;
                                visibility: visible;
                                min-height: 100%;
                                transition: opacity 200ms linear;

                                @media (max-width: 420px){
                                    width: 100%;
                                    margin: 0 12px;
                                     .c-card-title {
                                        padding: 30px 10px !important;
                                     }
                                    ul {
                                        margin-left: 0;

                                        li{
                                            padding-right: 20px;
                                            font-size: 15px;
                                        }
                                    }
                                    
                                }

                            }


                            #undercard-title {
                                visibility: hidden;

                                 @media (max-width: 600px){
                                    display: none;

                                 }

                            }

                            .c-card-hidden-content {
                                //padding-top: 10px;
                            }


                        }
                        background-size: cover;
                        position: relative;
                        width: 100%;
                        height: 100%;

                    }
                     .c-card-content.-mobile {
                         transition: opacity 200ms linear;
                        &.-panel {
                            transition: opacity 200ms linear;
                            height: auto;
                            top: 0;
                            opacity: 1;
                            visibility: visible;
                            min-height: 100%;
                                     #undercard-title {
                                display: none;

                            }
                        }
                        display: none;
                        color: black;
                        height: auto;
                        bottom: auto;
                        transform: none;
                        position: relative;
                        padding-bottom: 1px;
                        //visibility: visible;
                        //opacity: unset;
                        margin: 0;
                        width: 100%;
                         .c-card-title {
                            padding-top: 24px;
                            padding-bottom: 0;
                         }
                        .c-card-title, p, li {
                            transform: none;
                        }
                        @media (max-width: 600px){
                            display: block;
                        }
                      }
                    .c-card-content {
                         transition: opacity 200ms linear;


                        @media (max-width: 600px){
                            display: none;
                          }

                        &.-green {
                            background: rgba(113, 152, 74, 1);
                        }
                        &.-blue {
                            background: rgba(26, 66, 138, 1);
                        }
                        &.-turquoise {
                            background: rgba(104, 162, 185, 1);
                        }
                        &.-hidden {
                            visibility: hidden;
                            position: static
                        }                            
                        position: absolute;
                        content: "";
                        visibility: hidden;
                        opacity: 0;
                        top: -100%;
                        width: calc(100% - 24px);
                        margin: 0 24px;
                        left: 0;
                        transition: height 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
                            // Card title

                            .c-card-title {
                                letter-spacing: 1px;
                                text-align: center;
                                width: 100%;
                                left: 50%;
                                font-size: 20px;
                                word-break: keep-all;
                                color: white;
                                z-index: 3;
                                bottom: 40px;      
                                padding-top: 50px;
                                padding-bottom: 30px;   
                                transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

                                @media (max-width: 420px){
                                     .c-card-title {
                                        padding: 30px 10px !important;
                                     }
                                }       
                                ul {
                                    margin-left: 0;
                                    li {

                                    }
                                }
                            }
                            p {
                                width: 100%;
                                left: 50%;
                                word-break: keep-all;
                                color: white;
                                z-index: 3;
                                bottom: 40px;      
                                //padding-top: 25px;    
                                font-size: 16px;
                                letter-spacing: 0;
                                //line-height: 50px;
                                font-family: 'Helvetica' !important;
                                padding: 0 20px 0 25px;
                                text-align: left;
                                transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);  
                                list-style-type: none;
                            }
                            li {
                                width: 100%;
                                left: 50%;
                                word-break: keep-all;
                                color: white;
                                z-index: 3;
                                bottom: 40px;      
                                //padding-top: 25px;    
                                font-size: 16px;
                                letter-spacing: 0;
                                //line-height: 50px;
                                font-family: 'Helvetica' !important;
                                padding: 0 20px 0 25px;
                                text-align: left;
                                transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);  
                                list-style-type: none;      
                                padding-right: 40px;

                                li {
                                    list-style-type: circle;
                                    padding-left: 10px;
                                    list-style-position: inside;
                                }
                                li:first-child {
                                    padding-top: 10px;
                                }
                                li:last-child {
                                    padding-bottom: 10px;
                                }

                            }




                        }
                    }

                }
            }
        }
    }

    .hidden-slick {
        display: none;

    }

    .c-service_txt-hidden {
        visibility: hidden;
        p {
            width: 100%;
            left: 50%;
            word-break: keep-all;
            color: white;
            z-index: 3;
            bottom: 40px;
            font-size: 16px;
            letter-spacing: 0;
            font-family: 'Helvetica' !important;
            padding: 0 25px;
            text-align: left;
            -webkit-transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
            transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
            margin-bottom: 0;
        }
    }

.c-image_wrap {
    margin-right: 1.3%;
    position: relative;

.c-border {
    position: absolute;
    width: 97%;
    height: 92%;
    // background: red;
    z-index: -25;
    right: -1.3%;
    bottom: -2.6%;  

    &.-green {
        background: #71984a;
    }
    &.-blue {
        background: #1A428A;
    }
    &.-turquoise {
        background: #68a2b9;
    }

}
}



.c-card-title {
    &.-bottom {
        float: right;
        margin-top: 24px;
    }

    &.-green {
        color: #71984a;
    }
    &.-blue {
        color: #1A428A;
    }
    &.-turquoise {
        color: #68a2b9;
    }
}
