
.main-services-title {
  padding-bottom: 25px;
  padding-top: 100px;
  text-align: center;
}

.c-service {
  background-color: #68A2B9;


    position: relative;

    .o-wrapper {

      @media (max-width: 960px){
        padding-right: 0px;
        padding-left: 0px;
      }
      @media (min-width: 1024px){
        padding-right: 24px;
        padding-left: 24px;
      }

    }



    .c-service_content {
          @media (max-width: 960px){
            float: none;
          }
         @media (min-width: 320px){
          padding: 20px;
        }
         @media (min-width: 480px){
          padding: 30px;
        }
        @media (min-width: 600px){  
          padding: 45px;
        }
        @media (min-width: 720px){
          padding: 55px;
        }
        @media (min-width: 840px){
          padding: 65px;
           width: 100%;
        }
        @media (min-width: 960px){
          padding: 75px;
          width: 79%;

        }
        @media (min-width: 1024px){
          padding: 24px 64px;
          width: 68%;
        }


        position: relative;
        float: right;
        z-index: 10;
        background: #FFF;
        color: #000;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 1.14px;
        top: -100px;

        h3 {
          text-transform: uppercase;
          font-weight: 400;
          margin-top: 24px;
        }
        ul {
          list-style-type: circle;
        }

        &.-two {
          float: none;
          padding-left: 0;

           ::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100vh;
            background-color: #FFF;
            top: 0;
            right: 100%;
            left: unset;

        }
        }
      

      
        
        ::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100vh;
            background-color: #FFF;
            top: 0;
            left: 100%;
        }


    }

    .c-service_image {
        position: relative;
        height: 640px;
        background-size: cover !important;
        width: calc(((100vw - 1280px)/2) + 1055px);
    

       

        img {
            width: 100%;
        }

      @media (max-width: 960px){
        display: none;
      }

      &.-two {
          margin-left: auto;
          background-position: center !important;
      }

    }


}


.c-btnPrimary {
  color: #000;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 17px;
  text-decoration: none;
  position: relative;
  background-color: $Blue !important;
  display: block;
  padding: 15px;
  border: none;
  overflow: hidden;

  margin-top: 40px;
}

.c-service_content_link_btn {
  text-decoration: none;
}