
/* -- Section form -- */
.c-section-s {
  text-align: center;

  &.-services {

    margin-top: 84px;
    @media (max-width: 1050px){
        @include mg-btm-w-title();
    }

    // Intro Block text
    p {
        letter-spacing: 1.14px;
        line-height: 30px;
        font-size: 16px;
        max-width: 528px;
        margin: 0 auto;


    }
    
}


}


.c-block_2 {
    
    position: relative;
    @include mg-btm();
  
     @media (min-width: 1050px) {
        margin-bottom: 300px;
    }


    .c-team-list {
        list-style-type: none;
        margin-left: 0;

        @media (max-width: 420px) {
        margin-left: -24px;
        margin-right: -24px;
        }

        &.-two {
             .slick-dots {
                
              @media (min-width: 1050px) {
                text-align: right;
              }
            }
        }

        li {
            .c-team-list_picture {
                @media (min-width: 1051px) {
                    max-width: 800px;
                }

                &.-two {
                         @media (min-width: 1051px) {
                               float: right;
                        }
                }
                background-position: center;
                background-size: cover;
               
                width: 100%;
                height: 660px;
                position: relative;

                @media (max-width: 769px) {
                 height: 330px;
                }


            }
        }

        // Custom slick slider dots
        .slick-dots {
            
          @media (min-width: 1050px) {
            text-align: left;
          }
          // Dot
          li button:before {
            font-size: 6px;
            width: 15px;
            height: 15px;
            border: #1A428A 2px solid;
            color: transparent;
            opacity: 1;
            border-radius: 100px;
          }
        }
        // Active dot
        .slick-dots li.slick-active button:before {
          color: #1A428A;
          opacity: 1;
          font-size: 51px;
          border: none;
          line-height: 15px;  
        }
    }

    .c-block_2_info {

        &.-two {
            right: unset;
            left: 0;
            background-color: #FFF;;
        }
        background-color: #FFF;
        padding: 40px;
        position: absolute;
        max-width: 800px;
        width: 100%;
        color: #000;
        //height: 100%;
        max-height: 800px;
        bottom: -200px;
        right: 0;
        z-index: 99;
        -webkit-box-shadow: 10px 14px 24px 0px rgba(180,180,180,1);
        -moz-box-shadow: 10px 14px 24px 0px rgba(180,180,180,1);
        box-shadow: 10px 14px 24px 0px rgba(180,180,180,1);

        @media (max-width: 1050px) {
            position: relative;
            width: 100% !important;
            max-height: 100%;
            margin-bottom: 80px;
            padding: 20px;
            bottom: 0;
            max-width: 100%;          
        }
        @media (max-width: 420px) {
            width: 120% !important;
            padding: 24px;
            margin-left: -24px;

        }
    }

}

