
{# ASIGNATION #}

{# Create an entry query with the 'section'  #}
{% set entries = craft.entries().section('servicesBlock').all() %}
{# Display the entries #}
{% for entry in entries %}
{% set blockSubtitle = entry.servicesBlockSubtitle %}
{% set blockText = entry.servicesBlockText  %}
{% set type = '' %}
{% set href = '' %}

<section class="c-section-s -services">
    <div class="o-wrapper -sections">
        <h2 class="main-services-title">{{ blockSubtitle}}</h2>
       

    </div>
</section >


{% endfor %}

{% include '_components/_services_block.html' with { type: 1, href: 'produits' } %}
{% include '_components/_services_block.html' with { type: 2, href: 'services'} %}
{% include '_components/_services_block.html' with { type: 3, href: 'support'} %}


