/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$inuit-font-size-h1:  36px !default;
$inuit-font-size-h2:  28px !default;
$inuit-font-size-h3:  24px !default;
$inuit-font-size-h4:  20px !default;
$inuit-font-size-h5:  18px !default;
$inuit-font-size-h6:  16px !default;

h1 {
  @include inuit-font-size($inuit-font-size-h1);
}

h2 {
    color: $DarkBlue;
    letter-spacing: 0.97px;
    line-height: 62px;
    font-weight: bold;
    text-transform: uppercase;
    

     @media (max-width: 420px){
        line-height: 40px;
    } 
     @media (min-width: 320px){
       font-size: 28px;

    } 
    @media (min-width: 400px){
       font-size: 32px;
    }
   @media (min-width: 480px){
       font-size: 36px;
    }
    @media (min-width: 600px){
       font-size: 38px;
    }
    @media (min-width: 720px){
       font-size: 38px;
    }
    @media (min-width: 840px){
       font-size: 40px;
    }
    @media (min-width: 960px){
       font-size: 40px;
    }
    @media (min-width: 1024px){
       font-size: 42x;
    }
    @media (min-width: 1280px){
        font-size: 42px
    }
}

.c-accordion_title {
    letter-spacing: 1px;
    line-height: 100px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

    @media (min-width: 320px) and (max-width: 480px) {
       font-size: 32px;
       line-height: 48px;
    } 
    @media (min-width: 600px){
       font-size: 38px;
    }
    @media (min-width: 720px){
       font-size: 38px;
    }
    @media (min-width: 840px){
       font-size: 40px;
    }
    @media (min-width: 960px){
       font-size: 40px;
    }
    @media (min-width: 1024px){
       font-size: 42x;
    }
    @media (min-width: 1280px){
        font-size: 42px
    }
}

h3 {
  @include inuit-font-size($inuit-font-size-h3);
}

h4 {
  @include inuit-font-size($inuit-font-size-h4);
}

h5 {
  @include inuit-font-size($inuit-font-size-h5);
}

h6 {
  @include inuit-font-size($inuit-font-size-h6);
}
