
{# ASIGNATION #}

{# Create an entry query with the 'section'  #}
{% set entries = craft.entries().section('aboutTwo').all() %}
{# Display the entries #}
{% for entry in entries %}

<section id="about-two" class="parallax">

    <section id="services" class="c-section -aboutTwo">
    <div class="o-wrapper">
        <h2>{{ entry.aboutBlockTwoSubtitle}}</h2>
         {{ entry.aboutBlockTwoText }}
       
         <p class="quote">Entendre c’est bien, comprendre c’est mieux.</p>
         
    </div>
  </section >


</section>


{% endfor %}

