

<section id="career" class="c-career">

    <div class="c-career-bg" style="background: url('assets/images/job-offers-bg.jpg')">
     
    </div>


    {# ACCORDION   #}  {% include '_components/_accordion' %}
</section>