{# Entries #}
{% set jobs = craft.entries.section('availableJobs').level(1).all() %}

{# Create an entry query with the 'section'  #}
{% set contactEntries = craft.entries().section('contactBlock').all() %}
{# Display the entries #}
{% for contact in contactEntries %}



   {# Job Application section: Title, text #} 
    <section id="contact" class="c-section -cv-main" >
        <section class="c-section -cv">
            <div class="o-wrapper -sections">
                <h2> {{contact.contactBlockSubtitle}} </h2>
                {{contact.contactBlockText}}

            </div>
        </section >

        {% endfor %}
        {# Application form #} 
        <section>
            <div class="o-wrapper -form">
                <form method="post" action="" accept-charset="UTF-8" id="form">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="contact-form/send">
                
                     {# Form: firstname, lastname #} 
                    <div class="o-layout" >
                       <div class="o-layout__item u-1/1" >
                        <label for="name">Nom</label>
                        <input name="fromName" id="name" type="text" value="" required>
                        </div>
                    </div>
                 {# Form: email, phone #} 
                 <div class="o-layout" >

                    <div class="o-layout__item u-1/2@portrait-medium-tablet u-1/1" >
                      <label for="fromEmail">Adresse courriel</label>
                      <input id="fromEmail" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" required>
                  </div>

                  <div class="o-layout__item u-1/2@portrait-medium-tablet u-1/1" >
                    <label for="phone">Numéro de téléphone</label>
                    <input name="Phone" id="phone" type="tel" required>
                    </div>
                </div>


            <label for="message">Message</label>
            <textarea rows="10" id="message" name="message" required>{{ message.message ?? '' }}</textarea>

             <input type="submit" value="Soumettre" > 
            
             {% if craft.app.session.hasFlash('notice') %}
                <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
            {% elseif craft.app.session.hasFlash('error') %}
                <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
            {% endif %}

            </form>


            {# Succes alert on Form submit #}
            </div>    
                <div class="alert" id="alert">
                     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                     <strong>Votre message a été envoyé!</strong>
                </div>

        </section>

    </section>