
{# ASIGNATION #}
{% set menu = craft.entries.section('menu').level(1).all() %}


{# Create an entry query with the 'section' and 'limit' parameters #}
{% set bannerEntry = craft.entries()
    .section('banner')
    .limit(10) %}

{# Fetch the entries #}
{% set entries = bannerEntry.all() %}

{# Display the entries #}
{% for entry in entries %}



<h1>cliniqueauditivesoulanges</h1>



{# Main nav menu #}
<div class="c-main-menu">
<div class='o-wrapper'>
    <div class="c-main-menu-wrap">
          <div class="c-header-logo"> 
            <a href="tel:{{options.contactPhone}}">
            <svg width="271px" height="57px" viewBox="0 0 271 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
                <title>bouton-telephone</title>
                <desc>Created with Sketch.</desc>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="bouton-telephone" transform="translate(1.000000, 1.000000)">
                        <g id="Tél.-450-316-6145" transform="translate(91.000000, 13.000000)" fill="#1A428A" font-family="OpenSans-Semibold, Open Sans" font-size="21" font-weight="500">
                            <text id="450-316-6145">
                                <tspan x="0" y="22">450 316-6145</tspan>
                            </text>
                        </g>
                        <g id="phone-call-(4)-copy-2" transform="translate(14.000000, 7.000000)" fill="#1A428A" fill-rule="nonzero">
                            <path d="M34.514344,24.4401882 C33.6194527,23.5125448 32.5400476,23.0165771 31.3960628,23.0165771 C30.2613036,23.0165771 29.1726729,23.5033602 28.2408788,24.4310036 L25.3255626,27.3241487 C25.0856948,27.1955645 24.845827,27.0761649 24.6151849,26.9567652 C24.2830603,26.7914427 23.969387,26.6353047 23.7018422,26.4699821 C20.9710397,24.7432796 18.4893306,22.4930556 16.1091041,19.5815412 C14.9558936,18.1303763 14.1809361,16.9088262 13.6181694,15.6689068 C14.3746755,14.9800627 15.0758275,14.2636649 15.7585281,13.5748208 C16.0168473,13.3176523 16.2751664,13.0512993 16.5334856,12.7941308 C18.4708793,10.8653674 18.4708793,8.3671595 16.5334856,6.43839606 L14.0148738,3.93100358 C13.7288776,3.64628136 13.4336557,3.35237455 13.1568852,3.05846774 C12.6033442,2.4890233 12.0221261,1.90120968 11.4224566,1.35013441 C10.5275652,0.468413978 9.45738585,0 8.33185239,0 C7.20631892,0 6.11768819,0.468413978 5.19511977,1.35013441 C5.18589409,1.359319 5.18589409,1.359319 5.1766684,1.36850358 L2.03993579,4.5188172 C0.859048216,5.69444444 0.185573272,7.12724014 0.0379623257,8.78965054 C-0.183454094,11.4715502 0.609954744,13.9697581 1.2188499,15.6046147 C2.71341073,19.6182796 4.9460263,23.3380376 8.27649828,27.3241487 C12.3173479,32.1276882 17.1792835,35.9209229 22.7331454,38.593638 C24.8550527,39.5947581 27.6873378,40.7795699 30.8517474,40.9816308 C31.0454868,40.9908154 31.2484518,41 31.4329655,41 C33.5640986,41 35.3538813,40.2376792 36.7561853,38.7222222 C36.765411,38.703853 36.7838623,38.6946685 36.793088,38.6762993 C37.2728236,38.0976703 37.8263646,37.5741487 38.4075828,37.0138889 C38.8042872,36.6373208 39.2102173,36.2423835 39.6069217,35.8290771 C40.5202644,34.8830645 41,33.780914 41,32.6512097 C41,31.5123208 40.5110387,30.4193548 39.5792446,29.5008961 L34.514344,24.4401882 Z M37.817139,34.1115591 C37.8079133,34.1115591 37.8079133,34.1207437 37.817139,34.1115591 C37.4573373,34.4973118 37.0883099,34.8463262 36.6916055,35.2320789 C36.091936,35.8015233 35.4830409,36.3985215 34.9110485,37.0689964 C33.9792544,38.0609319 32.8813979,38.5293459 31.4421912,38.5293459 C31.3038059,38.5293459 31.156195,38.5293459 31.0178097,38.5201613 C28.2777815,38.3456541 25.7314927,37.2802419 23.8217761,36.3709677 C18.6000389,33.8543907 14.0148738,30.281586 10.2046663,25.7535842 C7.05870797,21.9787186 4.95525198,18.4885753 3.56217368,14.7412634 C2.70418505,12.4543011 2.39051179,10.672491 2.52889705,8.99171147 C2.62115389,7.9171147 3.03630968,7.02620968 3.80204146,6.26388889 L6.94799976,3.13194444 C7.40005829,2.70945341 7.87979386,2.47983871 8.35030375,2.47983871 C8.93152186,2.47983871 9.40203175,2.82885305 9.69725364,3.12275986 C9.70647933,3.13194444 9.71570501,3.14112903 9.72493069,3.15031362 C10.2876974,3.67383513 10.8227871,4.21572581 11.3855538,4.79435484 C11.6715501,5.08826165 11.9667719,5.38216846 12.2619938,5.68525986 L14.7806056,8.19265233 C15.7585281,9.16621864 15.7585281,10.0663082 14.7806056,11.0398746 C14.5130608,11.3062276 14.2547416,11.5725806 13.9871968,11.8297491 C13.2122393,12.6196237 12.4741846,13.3543907 11.6715501,14.0707885 C11.6530987,14.0891577 11.6346473,14.0983423 11.6254216,14.1167115 C10.8320128,14.906586 10.9796237,15.6780914 11.1456861,16.2016129 C11.1549117,16.2291667 11.1641374,16.2567204 11.1733631,16.2842742 C11.8283867,17.8640233 12.7509551,19.3519265 14.1532591,21.124552 L14.1624848,21.1337366 C16.7087736,24.2564964 19.3934477,26.6904122 22.3548923,28.5548835 C22.7331454,28.7936828 23.1206241,28.9865591 23.4896515,29.1702509 C23.8217761,29.3355735 24.1354494,29.4917115 24.4029942,29.6570341 C24.4398969,29.6754032 24.4767997,29.702957 24.5137024,29.7213262 C24.8273757,29.8774642 25.1225976,29.9509409 25.4270451,29.9509409 C26.1927769,29.9509409 26.6725125,29.4733423 26.8293491,29.3172043 L29.9845331,26.1760753 C30.2982064,25.8637993 30.7963933,25.4872312 31.3776114,25.4872312 C31.9496038,25.4872312 32.4201137,25.8454301 32.7061099,26.1577061 C32.7153356,26.1668907 32.7153356,26.1668907 32.7245613,26.1760753 L37.8079133,31.2367832 C38.7581587,32.1736111 38.7581587,33.1379928 37.817139,34.1115591 Z" id="Shape"></path>
                        </g>
                        <rect id="Rectangle" stroke="#1A428A" stroke-width="3" x="0.5" y="0.5" width="268" height="54" rx="8"></rect>
                    </g>
                </g>
            </svg>
                                          
           </a></div>
        <nav class="c-main-menu_navigation">
            <ul class='o-list-bare c-main-menu_ul'>
                {% for section in menu %}
                <li> <a href="{{section.menuSection}}"> {{section.title}} </a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>



<!-- Mobile: Top Navigation Menu -->
<nav class="c-second-menu">
  <div class='o-wrapper'>
    <div class="c-mobile-nav">

      <a class="active logo" href="tel:{{options.contactPhone}}">
            <svg width="200px" height="40px" viewBox="0 0 271 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
                <title>bouton-telephone</title>
                <desc>Created with Sketch.</desc>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="bouton-telephone" transform="translate(1.000000, 1.000000)">
                        <g id="Tél.-450-316-6145" transform="translate(91.000000, 13.000000)" fill="#1A428A" font-family="OpenSans-Semibold, Open Sans" font-size="21" font-weight="500">
                            <text id="450-316-6145">
                                <tspan x="0" y="22">450 316-6145</tspan>
                            </text>
                        </g>
                        <g id="phone-call-(4)-copy-2" transform="translate(14.000000, 7.000000)" fill="#1A428A" fill-rule="nonzero">
                            <path d="M34.514344,24.4401882 C33.6194527,23.5125448 32.5400476,23.0165771 31.3960628,23.0165771 C30.2613036,23.0165771 29.1726729,23.5033602 28.2408788,24.4310036 L25.3255626,27.3241487 C25.0856948,27.1955645 24.845827,27.0761649 24.6151849,26.9567652 C24.2830603,26.7914427 23.969387,26.6353047 23.7018422,26.4699821 C20.9710397,24.7432796 18.4893306,22.4930556 16.1091041,19.5815412 C14.9558936,18.1303763 14.1809361,16.9088262 13.6181694,15.6689068 C14.3746755,14.9800627 15.0758275,14.2636649 15.7585281,13.5748208 C16.0168473,13.3176523 16.2751664,13.0512993 16.5334856,12.7941308 C18.4708793,10.8653674 18.4708793,8.3671595 16.5334856,6.43839606 L14.0148738,3.93100358 C13.7288776,3.64628136 13.4336557,3.35237455 13.1568852,3.05846774 C12.6033442,2.4890233 12.0221261,1.90120968 11.4224566,1.35013441 C10.5275652,0.468413978 9.45738585,0 8.33185239,0 C7.20631892,0 6.11768819,0.468413978 5.19511977,1.35013441 C5.18589409,1.359319 5.18589409,1.359319 5.1766684,1.36850358 L2.03993579,4.5188172 C0.859048216,5.69444444 0.185573272,7.12724014 0.0379623257,8.78965054 C-0.183454094,11.4715502 0.609954744,13.9697581 1.2188499,15.6046147 C2.71341073,19.6182796 4.9460263,23.3380376 8.27649828,27.3241487 C12.3173479,32.1276882 17.1792835,35.9209229 22.7331454,38.593638 C24.8550527,39.5947581 27.6873378,40.7795699 30.8517474,40.9816308 C31.0454868,40.9908154 31.2484518,41 31.4329655,41 C33.5640986,41 35.3538813,40.2376792 36.7561853,38.7222222 C36.765411,38.703853 36.7838623,38.6946685 36.793088,38.6762993 C37.2728236,38.0976703 37.8263646,37.5741487 38.4075828,37.0138889 C38.8042872,36.6373208 39.2102173,36.2423835 39.6069217,35.8290771 C40.5202644,34.8830645 41,33.780914 41,32.6512097 C41,31.5123208 40.5110387,30.4193548 39.5792446,29.5008961 L34.514344,24.4401882 Z M37.817139,34.1115591 C37.8079133,34.1115591 37.8079133,34.1207437 37.817139,34.1115591 C37.4573373,34.4973118 37.0883099,34.8463262 36.6916055,35.2320789 C36.091936,35.8015233 35.4830409,36.3985215 34.9110485,37.0689964 C33.9792544,38.0609319 32.8813979,38.5293459 31.4421912,38.5293459 C31.3038059,38.5293459 31.156195,38.5293459 31.0178097,38.5201613 C28.2777815,38.3456541 25.7314927,37.2802419 23.8217761,36.3709677 C18.6000389,33.8543907 14.0148738,30.281586 10.2046663,25.7535842 C7.05870797,21.9787186 4.95525198,18.4885753 3.56217368,14.7412634 C2.70418505,12.4543011 2.39051179,10.672491 2.52889705,8.99171147 C2.62115389,7.9171147 3.03630968,7.02620968 3.80204146,6.26388889 L6.94799976,3.13194444 C7.40005829,2.70945341 7.87979386,2.47983871 8.35030375,2.47983871 C8.93152186,2.47983871 9.40203175,2.82885305 9.69725364,3.12275986 C9.70647933,3.13194444 9.71570501,3.14112903 9.72493069,3.15031362 C10.2876974,3.67383513 10.8227871,4.21572581 11.3855538,4.79435484 C11.6715501,5.08826165 11.9667719,5.38216846 12.2619938,5.68525986 L14.7806056,8.19265233 C15.7585281,9.16621864 15.7585281,10.0663082 14.7806056,11.0398746 C14.5130608,11.3062276 14.2547416,11.5725806 13.9871968,11.8297491 C13.2122393,12.6196237 12.4741846,13.3543907 11.6715501,14.0707885 C11.6530987,14.0891577 11.6346473,14.0983423 11.6254216,14.1167115 C10.8320128,14.906586 10.9796237,15.6780914 11.1456861,16.2016129 C11.1549117,16.2291667 11.1641374,16.2567204 11.1733631,16.2842742 C11.8283867,17.8640233 12.7509551,19.3519265 14.1532591,21.124552 L14.1624848,21.1337366 C16.7087736,24.2564964 19.3934477,26.6904122 22.3548923,28.5548835 C22.7331454,28.7936828 23.1206241,28.9865591 23.4896515,29.1702509 C23.8217761,29.3355735 24.1354494,29.4917115 24.4029942,29.6570341 C24.4398969,29.6754032 24.4767997,29.702957 24.5137024,29.7213262 C24.8273757,29.8774642 25.1225976,29.9509409 25.4270451,29.9509409 C26.1927769,29.9509409 26.6725125,29.4733423 26.8293491,29.3172043 L29.9845331,26.1760753 C30.2982064,25.8637993 30.7963933,25.4872312 31.3776114,25.4872312 C31.9496038,25.4872312 32.4201137,25.8454301 32.7061099,26.1577061 C32.7153356,26.1668907 32.7153356,26.1668907 32.7245613,26.1760753 L37.8079133,31.2367832 C38.7581587,32.1736111 38.7581587,33.1379928 37.817139,34.1115591 Z" id="Shape"></path>
                        </g>
                        <rect id="Rectangle" stroke="#1A428A" stroke-width="3" x="0.5" y="0.5" width="268" height="54" rx="8"></rect>
                    </g>
                </g>
            </svg>
     
      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
        {% for section in menu %}
        <a href="{{section.menuSection}}"> {{section.title}} </a>
        {% endfor %} 
      </div>
      <!-- Hamburger menu button to toggle the navigation links -->
      {# <a href="javascript:void(0);" class="icon" onclick="mobileNavMenu()">&#9776;</a> #}

      <button class="hamburger hamburger--minus icon" type="button" onclick="mobileNavMenu()">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>



    </div>
  </div>
</nav>


</div>






<!-- Banner -->
<div class='c-banner'>

    <ul class="c-banner-images" > 
       {% set bannerLogo = entry.bannerLogo %}
      {% set matrixBlocks = entry.bannerSlides.all() %}
        {% for block in matrixBlocks %}

            <li class="c-banner-images_item parallax" style='background-image: url("{{ block.slideImage.first().url() }}");'>

        <div class='o-wrapper'>
            <div class='c-banner-title'> {{block.slideTitle}} </div>
            <div class='c-banner-subtitle'> {{block.slideSubtitle}} </div> 

            <img class="c-banner-logo"  src="{{  bannerLogo.one.url() }}" alt="">
        </div>

            </li>

        {% endfor %}
    </ul>

</div>



{% endfor %}



