
{# ASIGNATION #}

{# Create an entry query with the 'section'  #}
{% set entries = craft.entries().section('servicesBlock').all() %}
{# Display the entries #}
{% for entry in entries %}

{% if type == 1 %}
{% set list = entry.service1Image.all() %}
{% set blockText = entry.service1Body %}
{% set picture = entry.service1Image.one().url() %}
{% endif %}
{% if type == 2 %}
{% set list = entry.service2Image.all() %}
{% set blockText = entry.service2Body %}
{% set picture = entry.service2Image.one().url() %}
{% endif %}
{% if type == 3 %}
{% set list = entry.service3Image.all() %}
{% set blockText = entry.service3Body %}
{% set picture = entry.service3Image.one().url() %}
{% endif %}

<!-- Header title and background image -->
<section id="{{href}}" style="{% if type == 1 %}padding-top: 100px;{% endif %}" class="o-section c-service triggerBlock{{type}}">

    <div class="c-service_image -{{type}} {% if type is even %}-two{% endif %}" style="background: url('{{picture}}')"></div>
    <div class="o-wrapper">
        <div class="c-service_content triggerContent{{type}} {% if type is even %}-two{% endif %}">
             {{blockText}}
        </div>
    </div>
 

</section>


{% endfor %}






