<!DOCTYPE html>
<html lang="en-fr">
<head>
    <meta charset="utf-8" />
    <title>Clinique Auditive Soulanges</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
   
</head>
<body>
	<header>
		{% include '_components/_header.html' %}
	</header>

<main>
	{% include '_components/_about.html' %}
	{% include '_pages/_services.html' %}
    {% include '_components/_about-block-two.html' %}

	{% include '_components/_contact.html' %}
</main>


<footer>
	{% include '_components/_footer.html' %}
</footer>

</body>


 <script defer src="assets/js/scripts.js"></script>


</html>